* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 150%;
}

body,
#root {
  width: 80%;
  margin: 0 auto;
  /* text-align: center; */
}

h1 {
  margin: 25px auto;
  background-color: aqua;
  padding: 0 5%;
  width: fit-content;
  border-radius: 5px;
}

.inputWrapper {
  text-align: center;
}

input {
  width: 80%;
  font-size: larger;
  padding: 0 5px;
}

.addBtn {
  font-size: larger;
  padding: 0 5px;
}

ul {
  width: 80%;
  margin: 25px auto;
}

li {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 3px 8px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: aquamarine;
  font-size: large;
}

.delEdit {
  display: flex;
  align-items: center;
  font-size: larger;
  gap: 0 20px;
}

.empty {
  margin: 0 auto;
  text-align: center;
  background-color: red;
  width: 50%;
  border-radius: 5px;
}
